<h3><a class="btn btn-secondary" href="/todo"><i class="fa fa-plus"></i> New Task</a> To-Do List</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Task
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.task}}</td>
            <td>{{this.description}}</td>
            <td>
                <a href="/todo/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/todo/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i
                        class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>